body {
    font-family: Arial;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}
h1 {
    text-align: center;
    color: #4c54af;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    border: 2px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9ac;
}
a {
    color: #0c7bfa;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}